<!DOCTYPE html>
<html>
<head>
	<link href="template style.css" type="text/css" rel="stylesheet">
	<title>templet</title>
</head>
<body>
<div class="row">
	<div class="headlogo">
		<img src="C:\tops\tops backup\tops\sndwicth pic\eiliv-sonas-aceron-mAQZ3X_8_l0-unsplash.jpg" width="100%" height="50%">
       </div>
	<div class="headnav" >
		<div style="float: right;">
			<input type="submit" value="singup" class="button">
			<input type="submit" value="login" class="button">
	 </div>
 </div>
</div>
<div class="row">
	<div class="banner">
		<h1>tops technologies</h1>
	</div>
</div>
<div class="row">
	<div class="navbar">
		<a href="">Home</a>
		<a href="">about</a>
		<a href="">service</a>
		<a href="">galery</a>
		<a href="">bolg</a>
		<a href="">contet</a>
	</div>
</div>
<div class="row">
	<div class="sidebar">
		<h3>service</h3>
		<img src="C:\tops\tops backup\tops\sndwicth pic\eiliv-sonas-aceron-mAQZ3X_8_l0-unsplash.jpg">
		<h3>galary</h3>
		<img src="C:\tops\tops backup\tops\sndwicth pic\eiliv-sonas-aceron-mAQZ3X_8_l0-unsplash.jpg">
		<h3>bolg</h3>
		<img src="C:\tops\tops backup\tops\sndwicth pic\eiliv-sonas-aceron-mAQZ3X_8_l0-unsplash.jpg">
		<h3>contet</h3>
		<img src="C:\tops\tops backup\tops\sndwicth pic\eiliv-sonas-aceron-mAQZ3X_8_l0-unsplash.jpg">
	</div>

	<div class="mainbar">
		<h1 align="center">shivam</h1>
		
	<div class="row">
		<div class="box1">
			<p> ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<dir class="box2">
				<img src="C:\tops\tops backup\tops\sndwicth pic\eiliv-sonas-aceron-mAQZ3X_8_l0-unsplash.jpg" height="10%">
			</dir>
	 </div>
	 <div class="row">
	 	<div class="box2">
	 		<img src="C:\tops\tops backup\tops\sndwicth pic\eiliv-sonas-aceron-mAQZ3X_8_l0-unsplash.jpg" height="10%">
	 	</div>
	 	<div class="box1">
	 		<p> ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	 		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	 		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	 		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	 		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	 		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	 	</div>
	 </div>
	 <div class="row">
				<div class="box3pad">
					<div class="box3">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was .</p>
					</div>
				</div>
				<div class="box3pad">
					<div class="box3">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was .</p>
					</div>
				</div>
				<div class="box3pad">
					<div class="box3">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was .</p>
					</div>
				</div>
				<div class="box3pad">
					<div class="box3">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was .</p>
					</div>
				</div>
			</div>
			
		</div>
		
	</div>
	
	<div class="row">
		<div class="footer">
			<h1> 1</h1>
		</div>
		<div class="footer">
			<h1>2</h1>
		</div>
		<div class="footer">
			<h1>3</h1>
		</div>
		<div class="footer">
			<h1>4</h1>
		</div>
	</div>
	
</body>
</html>